* {margin: 0; padding: 0;}

body {

	height: 100%;

}

a {

	text-decoration: none;
	color: black;


}

#overlay {
	
	width: 100%;
	height: 1000px;

}

.vector {

	border: 1px solid gray;
	padding: 5px;
	height: 100%;
	position: absolute;
	width: 200px;

}

.link {

	height: 100px;
	margin-top: 5px;
	background-color: lightblue;

}










.fading {

        opacity: 0.8;
        cursor: pointer;
        transition: opacity .2s ease-in-out;
        -moz-transition: opacity .2s ease-in-out;
        -webkit-transition: opacity .2s ease-in-out;

} .fading:hover { opacity: 1.0; }



