* {margin: 0; padding: 0;}

body {

	height: 100%;

}

#overlay {
	
	width: 100%;
	height: 1000px;

}

.vector {

	background-color: lightgray;
	border: 1px solid gray;
	padding: 5px;
	height: 100%;
	position: absolute;
	width: 200px;

}







